body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    margin: 0;
}

.header-top{
    display: flex; 
    border-bottom: solid 0.5px #707070;
    width: 100%;
    text-align: left;
    top: 10px;
    position: relative;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.6;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    color: #fff;
    /* padding-bottom: 22px; */
    padding: 0px 8% 9px 8%;
}

.header-top a{
    font-size:14px !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.phone{
    display: inline-block;
    padding: 0.3rem;
}

.mail{
    display: inline-block;
    padding: 0.3rem;
}

.media_icons{
    position: relative;
    text-align: right !important;
}

.media_icons a{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.header-bottom{
    color:#fff;
    display: flex;
    
    
}




.menu-box{
    float: right;
    width: 80%;
    text-align:right;
}

.logo_div{
    float: left;
    padding: 30px 9px;
    width: 20%;
    
}

.padding0-lr{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

ul.menu-items{
    display: inline-block;
    
}

ul.menu-items li{
    display: inline-block;
    text-align: right;
    padding: 5px 10px;
    margin: 20px 0px 0px 30px;
  
}

ul.menu-items li:nth-child(3){
   border: 0.2px solid #ffffff;
  
}

ul.menu-items li a {
    text-decoration:none;
    color: #ffffff;
}

.bg-cover{
    background: url(../images/Banner.gif);
    width: 100%;
    /* height: auto; */
    position:relative;
    height:100vh !important;
    /* overflow: hidden; */
    /* text-align: center; */
    /* margin: 0; */
    /* color: #fff; */
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    /* max-height: 650px; */
    min-height: 100%;
    bottom:0;
}

.profile-down{
    padding-top: 13px;
}


.fa-caret-down{
color:#169cfd;
padding-left: 8px;
}

.sign_up{
    margin-right: 0px;
    background: #169cfd;
    padding: 4.8px 31px;
    font-size: 13px;
    letter-spacing: 1px;
    color: #fff;
    border-radius: 4px;
    display: inline-block;
    box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
    -o-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
    -ms-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
    border: 2px solid transparent;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.log-in{
    color: #169cfd;
    border: 1px solid #169cfd;
    margin-left: 0.8rem;
    padding: 1px 31px;
    border-radius: 4px;
    font-size: 15px;
    
}

@media(max-width:768px){
    .sign_up{
        padding: 5px 15px;
    }
    .log-in{
        padding: 1px 15px;
    }

}   
/** animated words for jobs **/
.animated-words{
    display:inline-block;
    margin-bottom: 18px;
}



.animated-words span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
    -ms-animation-delay: 3s; 
    animation-delay: 3s;  
    color: #6b889d;
}
.animated-words span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
    -ms-animation-delay: 6s; 
    animation-delay: 6s; 
    color: #6b739d; 
}
.animated-words span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
    -ms-animation-delay: 9s; 
    animation-delay: 9s; 
    color: #7a6b9d;
}
.animated-words span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
    -ms-animation-delay: 12s; 
    animation-delay: 12s; 
    color: #8d6b9d;
}
.animated-words span:nth-child(6) { 
    -webkit-animation-delay: 15s; 
    -ms-animation-delay: 15s; 
    animation-delay: 15s; 
    color: #9b6b9d;
}

.animated-words span {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    color: #6b969d;
    -webkit-animation: animateWord 18s linear infinite 0s;
    -ms-animation: animateWord 18s linear infinite 0s;
    animation: animateWord 18s linear infinite 0s;
}
@-webkit-keyframes animateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
    5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
    20% { opacity: 0; -webkit-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}

/**end of animation for words */

.find-caption{
    color: #fff;
}

.navigation{
    display: inline-block;
   
    
}

.navigation ul li{
    float:right;
}



@media (max-width:1024px){
    .sec_find{
        display: none;
    }
    .navbar-expand-md .navbar-nav{
        flex-direction: row !important;
    }
}
.search_form{
    background-color: #ffffff;
    padding: 3rem;
    z-index: 1500;
}
@media(max-width:768px){
    .search_form{
        margin-top:2.6rem;
        padding: 1rem;

    }
}

.search_form form button{
    background-color: #199bfb !important;
    width: 100% !important;
    border-radius: none;
}
.search_container{
    position: relative;
    vertical-align: center;
    margin: 55px 0px 0px 0px;
    padding: 150px;
    width:100%;

}

.search_section{
    position: relative;
    
}

@media(max-width:574px){
    .search_section{
        position: relative;
        width: 100%;
        margin: 0px auto;
    }   

    .input_search{
        width: 75%;
    }

    .button_search{
        width: 25%;
    }
    .sign_up {
      
        font-size: 12px !important;
        
     
    }

    .log-in {
       
       
        font-size: 12px !important;
       
    }

    .download_app {
        margin-top: 9% !important;
        margin-right: 70px !important;
    }
}

@media(max-width:360px){
  
    .sign_up {
      
        font-size: 12px !important;
        padding: 4.8px 10px;
     
    }

    .log-in {
       
       
        font-size: 12px !important;
        padding: 2px 17px;
    }

    .margintop200 {
        margin-top: 8vh !important;
    }

    .download_app {
        margin-top: 9% !important;
        margin-right: 55px !important;
    }
}

@media(max-width:375px){
  
    .sign_up {
      
        font-size: 12px !important;
        
     
    }

    .log-in {
       
       
        font-size: 12px !important;
     
    }

    .margintop200 {
        margin-top: 8vh !important;
    }

    .download_app {
        margin-top: 9% !important;
        margin-right: 55px !important;
    }
}

@media(max-width:768px){
    .download_app {
        margin-top: 6% ;
        margin-right: 250px;
    }
    
}


@media(max-width:1024px){
    .download_app {
        margin-top: 9% ;
    margin-right: 350px ;
    }
    
}


.search_button{
    width: 15%;
    display: inline-block;
    text-align: left;
    margin-left: -4px;
}
.form_control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 8px);
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.cus_btn_search {
    width: 100%;
    height: 44px;
    background: #179cff !important;
    border: none !important;
    border-radius: 0 3px 3px 0px !important;
}

.go-down{
    padding-bottom: 1.4rem!important;
    padding-top: .5rem;
}

.freelancers{
    padding: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 26px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.7;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
    text-align: center !important;
}

@media(max-width:768px){
    .freelancers{
       font-size: 20px;
       font-weight: 600;
    }
}

.close-comment{
    display: inline-block;
}
.white_font{
    color: #ffffff;
}

.margintop200{
    margin-top: 28vh;
}

@media(max-width:768px){
    .margintop200{
        margin-top: 13vh;
    }
}
.gold {
    color: #eaaf25 !important;
}

.pull_right{
    text-align: right;
}

/** mobile nav **/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: none;
  }

  @media(max-width:1024px){
    .sidenav {
        display: block;
      }
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
    display: none;
  }

  #main img{
      padding-left: 40%;
  }
  @media(max-width:1024px){
    #main {
        display: block;
        color:white;
      }
  }

  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
   
  }
  /**end of mobile nav **/

  
  .navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
} 

.one_hunnid{
    width: 100%;
    color: #ffffff !important;
    padding-bottom: 20px
}

.one_hunnid .navbar-brand img{
    width: 40%;
}

@media(max-width:768px){
  #logo_dashboard{
    width: 90px !important;
    }  
    .one_hunnid .navbar-brand img{
        width: 90px;
    }
      
}

@media(max-width:320px){
    #logo_dashboard{
      width: 60px !important;
      }  
      .one_hunnid .navbar-brand img{
          width: 60px;
      }
        
  }
@media(max-width:768px){
    .one_hunnid .navbar-brand li a img{
      width: 90px !important;
      }  
  }
  
.hide{
    display: none;
}


.disp{
    display: flex;
}
.disp input, button {
    border-radius: 0 !important;
}

.disp .sign_up, .log-in{
    border-radius: 0 !important;
}
.transparent_nav{
    background-color: transparent !important;
}

.colored_nav{
    background-color:#173245 !important;
}

@media(min-width:1024px){

    .one_hunnid{
        
        padding-top: 2rem !important;
    }

    .mainest{
        padding-left: 3%;

        padding-top: 2.9rem !important;
    }
  
  
}

.package{
    width:100%;
    
}

.brand{
    display: inline;
}

@media(max-width:768px){
    ul.disp{
        width:60%;
        padding-left:10%;
    }
}

@media(max-width:370px){
    ul.disp{
        width:60%;
        padding-left:3%;
    }
}
.menu-item{
    display: inline;
}
.nav-link{
    color: #ffffff !important;
}

.dashboard_nav a{
    color: #000000 !important;
}
/**login modal styling */
.modal-header{
    background: #179cff !important;
    color:#fff;
} 

.sec_category{
    display: block;
}

@media(max-width:768px){
    .sec_category{
        display: none;
    }
    
}

.cus_btn_done{

    width: 170px;
height: 36px;
background: #179cff !important;
border: none !important;
margin-top: 20px;
border-radius:  5px !important;
}

 .cus_btn_done_gray{

    width: 170px;
height: 36px;

border: none !important;
margin-top: 20px;
border-radius:  5px !important;
}



/**styles for carousel **/
.recommended{
    color: #199bfb;
    text-align: center;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    letter-spacing: 2px;
    color: #169cfd;
    font-size: 1.5em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
}

.section-carousel{
    position: relative;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.col-md-3{
    display: inline-block;
    margin-left:-4px;
  }
  .col-md-3 img{
    width:100%;
    height:auto;
  }
.carousel-item .col-md-3 img{
  margin-top: 1em;
  margin-bottom: 1.6em;
}

  body .carousel-indicators li{
    background-color:#000000;
    color: #ededed !important;
    border-radius: 50%;
  }
  body .carousel-control-prev-icon
  {
    background-color:#000000;
    color:#ededed !important;
    border-radius: 50%;
    right: 40%;
    position: relative;
  }
  
  body .carousel-control-next-icon{
    background-color:#000000;
    color: #ededed !important;
    border-radius: 50%;
    left: 40%;
    position: relative;
  }

  body .no-padding{
    padding-left: 0;
    padding-right: 0;
  }

  /**end of styles for carousel **/

  /** section for how it works */
  .how_it_works{
     background-color: #f3f3f3;
     padding-top:8vh;
     padding-bottom:8vh;

  }

  .how_it_works img{
      width: 40%;
  }

  @media(max-width:768px){
      .how_it_works img{
          width: 30% !important;
      }
      .how_it_works{
          padding-bottom: 20px;
      }
  }
  .create_account{
      padding-bottom:5%;
      padding-top: 5%;
  }

  .footer1{
      margin-top: 6%;
  }
  .footer_sec{
    height: 30%;
    position: relative;
  }

  .footer_sec img{
      width: 40%;
  }

  @media(max-width:800px){
      .footer_sec{
          height: auto;
      }
  }
  
  .footer_sec span{
      display: inline-block;
      font-size: 12px;
  }
  .footer_list ul{
      list-style-type: none;
      padding: 0;
  }
.footer1 h2{

    padding-top: 2rem
}

.footer_app{
    position: relative;
    top: 50%;
}

@media(max-width:768px){
    .footer_app{
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
}
.ad_section{
    background-color: #179cff;
    width: 100%;
    height: 32vh;
    position: relative;
}

@media(min-width:769px){
.ad_section{
    height: 26vh;
}
}
  footer{
    background-color: #ededed;
    margin-top: 1rem;
    padding:20px 0px 20px 0px !important;
  }

footer a{
    padding: 0.3rem;
    color: #000000 !important;
}
@media(max-width:768px){
    footer a{
        padding:0.15rem;
    }
    footer a span{
        margin-right: 0.2rem;
        margin-left: 0.2rem;
        display: inline-block;
        font-size: 12px;
    }
}

footer a i{
    color: black !important
}

footer a span{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    display: inline-block;
}


  

/** Styles for user dashboard page **/

.overview{
    position: relative;
}

.nav_border{
    border-bottom: 2px solid #f6f6f6;
    width: 100%;
}

.notification{
    /* padding-left: 3%; */
    border-right: 2px solid #169cfd !important;
}

.overview textarea{
    background-color: #f6f6f6;
}
.edit_text{
    width:100%;
    height: auto;
    overflow: hidden;
    white-space: normal;
}


.edit_icon{
    position: absolute;
     left:  97%; 
    bottom: 88%;
    
}

.edit__icon{
    position: absolute;
     left:  96%; 
    bottom: 25%;
    
}

#courses_button{
    background-color: #169cfd !important;
    color: #fff !important;
    padding: 0% 0% 0% !important;
    border-radius: 0px;
}

.credentials{
    display: inline-block;
    padding-top: 10%;
}

.profile_name{
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 600;

}
.profession{
    color: #169cfd !important;
    font-size: 1.5rem;
}

.placeholder{
    width: 4% !important;
}

.location{
    font-size: 1.5rem;
    font-weight: 600;
}

.col-md-12 h3{
    margin-top: 7%;
    font-weight: 300 !important;
}

.col-md-12 input{
    background-color: #f6f6f6;
    padding:2% 4%;
    box-shadow: none !important;
    border: none !important;
}

.margin3percent{
    margin-top: 10%;
}

@media(max-width:768px){
    .margin3percent{
        margin-top: 30%;
    }
}


.profile_set{
    background-color: #169cfd;
    color: #fff;
    margin-top: 6% !important;
    padding: 4% 6% !important;
    font-weight: lighter !important;
    width: 100%;
    
    border-radius: 0px;
}

.work_history{
    margin-top: 7%;
  
}

.work_history h6{
    border-bottom: 1px solid grey;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: lighter;
}



.ratings{
    margin-top: 15%;
    font-size: larger;
    margin-bottom: 10%;
    font-weight:bold; 
}

.available{
    margin-top: 10%;
    font-size: 18px;
    margin-bottom: 10%;
    font-weight:bold; 
}

.stars-inactive{
    color: #56bdfc;
    padding-left: 6px;
}

.availability{
    margin-top: 7%;
    
}

.availability h6{
    border-bottom: 1px solid grey;
    font-weight:300;
}

.profilelink h6{
    border-top: 1px solid grey;
}

.profile{
    padding-top: 10px;
}

.edit_availability{
    margin-top: 5%;
    background-color: #f6f6f6;
    width: 100%;
    box-shadow: none !important;
    border: none !important;
}

.profile_link{
    margin-top: 7%;
    
}

.profile_link h6{
    border-bottom: 1px solid grey;
    font-weight:300;
}

.edit_profile{
    background-color:#f6f6f6;
    padding: 1rem;
}

.edit_profile_link{
    margin-top: 5%;
    background-color: #f6f6f6;
    border-color: #169cfd;
    width: 100%;
    padding: 1% 5%;
    font-size: 13px;
}

.margin0-lr{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.freelancer0{

    background-color: #169cfd;
    position: relative;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color:#ffffff;
}

.padding25_trdl{
    padding: 2px 5px 2px 5px !important;
    border-radius: 0px !important;
}

.languages{
    margin-top: 7%;
    
}

.languages h6{
    border-bottom: 1px solid grey;
    font-weight:300;
}

.freelancer0_jd {
    font-size: 13px;
} 

.small{
    font-size: 11px !important; 
}

.freelancer0_view {
    padding-top: 5px;
}

.spoken_language{
    margin-top: 5%;
    background-color: #f6f6f6;
    width: 100%;
   
    box-shadow: none !important;
    border: none !important;
}

.download_app{
    margin-top: 4%;
    margin-bottom: 2%;
    
}

.download_app h6{
    font-weight:300;
    font-size: 0.85rem;
    padding-bottom: 5%;
}

.banner{
    margin-top:20% !important;
}

.banner img{
    width: 100% !important;
}

.portfolio_sec{
    margin-top: 3%;
}

.blue{
    color: #56bdfc;
    font-size: 1.3em;
    padding-top: 20px;
}

.blu{
    color: #56bdfc !important;
    padding-top: 13px;   
}

.background-color2{
    background: url(../images/whitebg.png)no-repeat center;
    height: 550px;
    border-radius: 50px;
}


.blue-ish{
    margin-right: 0px;
    background: #169cfd;
    padding: 11px 31px;
    font-size: 13px;
    letter-spacing: 1px;
    color: #fff;
    border-radius: 4px;
    display: inline-block;
    box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
    -o-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
    -ms-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
    border: 2px solid transparent;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 20px;
}

.blue-color{
    color:  #169cfd;
    border-color: #169cfd;

}

.blue-color:hover{
    color: #fff;
    background-color:#169cfd;
    border-color:#169cfd;
}

.move-down{
    padding-bottom: 15px
}

.quick{
  padding-top: 8px;
}

.privacy{
    padding-bottom:20px;
}

.down{
    padding-top:20px;
}

.login:hpver{
    border: solid 2px #56bdfc !important;
}

a.w3pvt_facebook {
    font-size: 29px;
}


.move-left{
    padding-left: 15px;
    border-right: 1px solid #169cfd;
    margin-left: 20px;
}

.wright{
    padding-left:5px;
}

.new-font{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
}

.new-button{
background-color: #fff;
border-color: #169cfd;
color: #169cfd;
}


.edit{
    padding-bottom: 10px;

}

/** bootsrap xs style sectoin */
.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{position:relative;min-height:1px;padding-right:15px;padding-left:15px}.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{float:left}.col-xs-12{width:100%}.col-xs-11{width:91.66666667%}.col-xs-10{width:83.33333333%}.col-xs-9{width:75%}.col-xs-8{width:66.66666667%}.col-xs-7{width:58.33333333%}.col-xs-6{width:50%}.col-xs-5{width:41.66666667%}.col-xs-4{width:33.33333333%}.col-xs-3{width:25%}.col-xs-2{width:16.66666667%}.col-xs-1{width:8.33333333%}.col-xs-pull-12{right:100%}.col-xs-pull-11{right:91.66666667%}.col-xs-pull-10{right:83.33333333%}.col-xs-pull-9{right:75%}.col-xs-pull-8{right:66.66666667%}.col-xs-pull-7{right:58.33333333%}.col-xs-pull-6{right:50%}.col-xs-pull-5{right:41.66666667%}.col-xs-pull-4{right:33.33333333%}.col-xs-pull-3{right:25%}.col-xs-pull-2{right:16.66666667%}.col-xs-pull-1{right:8.33333333%}.col-xs-pull-0{right:auto}.col-xs-push-12{left:100%}.col-xs-push-11{left:91.66666667%}.col-xs-push-10{left:83.33333333%}.col-xs-push-9{left:75%}.col-xs-push-8{left:66.66666667%}.col-xs-push-7{left:58.33333333%}.col-xs-push-6{left:50%}.col-xs-push-5{left:41.66666667%}.col-xs-push-4{left:33.33333333%}.col-xs-push-3{left:25%}.col-xs-push-2{left:16.66666667%}.col-xs-push-1{left:8.33333333%}.col-xs-push-0{left:auto}.col-xs-offset-12{margin-left:100%}.col-xs-offset-11{margin-left:91.66666667%}.col-xs-offset-10{margin-left:83.33333333%}.col-xs-offset-9{margin-left:75%}.col-xs-offset-8{margin-left:66.66666667%}.col-xs-offset-7{margin-left:58.33333333%}.col-xs-offset-6{margin-left:50%}.col-xs-offset-5{margin-left:41.66666667%}.col-xs-offset-4{margin-left:33.33333333%}.col-xs-offset-3{margin-left:25%}.col-xs-offset-2{margin-left:16.66666667%}.col-xs-offset-1{margin-left:8.33333333%}.col-xs-offset-0{margin-left:0}
/** end of xs section */

.result{
    color:black;
    position: absolute;
    max-height: 166px;
    text-align: center !important;
    width: 74%;  
   
}

@media(min-width:768px){
    .result{
        width: 84%;
    }
}

.result ul {
    background-color: #fff;
    border-radius: 0 0 3px 3px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    visibility: visible;
    padding-left: 0;
    position: relative;
    z-index: 1;
    max-height: 150px; 
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    

    /* margin: 0;
    padding: 0;
    background-color: #fff;
    position: absolute;
    border: 1px solid #ccc;
    width: 20.8em;
    margin-top: -1.1em;
    z-index: 90;
    border-top: none;
    text-transform: capitalize;

    /* max-height: 12em; */
    /* overflow-y: scroll; */
    /* overflow-x: hidden;
    border-radius: 0 0 3px 3px;
    -webkit-overflow-scrolling: touch;

    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
    background-color: #e5e5e5;
    z-index: 100002 !important;  */
}

.result ul li::-webkit-scrollbar-thumb{
    width: 2px;   
}


.result ul li{list-style-type: none;
text-align: center;
cursor: pointer;}

.result ul li:hover{
    background-color: #ccc;
}


/*
 *  STYLE 1
 */

 #locationResult::-webkit-scrollbar-track
 {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     border-radius: 10px;
     background-color: #F5F5F5;
 }
 
 #locationResult::-webkit-scrollbar
 {
     width: 5px;
     background-color: #F5F5F5;
 }
 
 #locationResult::-webkit-scrollbar-thumb
 {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
     background-color: #ccc;
 }

 /*
 *  STYLE 1
 */

 #serviceResult::-webkit-scrollbar-track
 {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     border-radius: 10px;
     background-color: #F5F5F5;
 }
 
 #serviceResult::-webkit-scrollbar
 {
     width: 5px;
     background-color: #F5F5F5;
 }
 
 #serviceResult::-webkit-scrollbar-thumb
 {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
     background-color: #ccc;
 }


.white_nav{
    background-color: #fff !important;
}

ul li.dropdown a{
    color:#169cfd !important;
}
.courses{
      margin-right: 0px;
        margin-top: 0.5rem;
        background: #169cfd;
        padding: 4.8px 31px;
        font-size: 13px;
        letter-spacing: 1px;
        color: #fff;
        border-radius: 4px;
        display: inline-block;
        box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
        -webkit-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
        -o-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
        -moz-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
        -ms-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
        border: 2px solid transparent;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
        font-weight: 600;
        text-transform: uppercase;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.no_flex{
    flex-grow: 0 !important;
}

.small-font{
    font-size: 21px;
}

.apps img {
    width: 49%;
}

/**testimonial section **/
/* -------------------- Select Box Styles: stackoverflow.com Method */
/* -------------------- Source: http://stackoverflow.com/a/5809186 */
select#soflow, select#soflow-color {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
 }
 
 select#soflow-color {
    color: #fff;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
    background-color: #779126;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding-left: 15px;
 }
.testimonial {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 8px;
    margin: 16px 0
  }
  
  .testimonial::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .testimonial img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .testimonial span {
    font-size: 20px;
    margin-right: 15px;
  }
  
  @media (max-width: 500px) {
    .testimonial {
        text-align: center;
    }
    .testimonial img {
        margin: auto;
        float: none;
        display: block;
    }
  }
  /** end of testimonial section **/

  #contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] 

#contact {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}



#contact h4 {
	margin:5px 0 15px;
	display:block;
	
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#179cff;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#163245;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}


/** dashboard profile pic upload section  **/

.avatar {
	display: inline-block;
	overflow: hidden;
	width: 10vw;
	height: 10vw;
	border-radius: 100%;
	background: #C68587;
	border: 6px solid #B3C9CB;
	background-image: url(https://scontent-vie1-1.cdninstagram.com/hphotos-ash/t51.2885-19/10932224_821299211264682_1488190390_a.jpg);
	background-size: cover;
	/* background-position: 50% 25%; */
	-webkit-transition: border 0.5s linear;
	-moz-transition: border 0.5s linear;
	-o-transition: border 0.5s linear;
	transition: border 0.5s linear;
}

@media(max-width:420px){
    .avatar{
        width: 30vh;
        height: 30vh;
    }
}

.avatar:after {
	content: "";
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #f0e3c7), color-stop(100%, #6bcab4));
	width: 10vw;
	height: 10vw;
	border-radius: 100%;
	border: 1px solid white;
	left: 4px;
	top: 4px;
	opacity: 0;
	-webkit-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
	cursor: pointer;
	-webkit-transform-style: preserve-3d;
}

.avatar:hover:after {
	opacity: 0.7;
}

.avatar.open:hover:after {
	opacity: 0;
}

.containerr {
	/* -webkit-transform: translate3d(-50%, -50%, 0);
	-moz-transition: translate3d(-50%, -50%, 0);
	-o-transition: translate3d(-50%, -50%, 0);
    transition: translate3d(-50%, -50%, 0); */
    padding-top: 20%;
	
}

#camera {
	-webkit-transform: scale(0.4);
	position: relative;
	z-index: 9999;
	cursor: pointer;
	top: 18%;
	overflow: hidden;
}

#circle {
	-webkit-transform: scale(0.75);
	-webkit-transform-origin: 50% 50%;
	-webkit-transition: all 0.3s linear;
	stroke-dashoffset: 33px;
	stroke-dasharray: 33px;
}

#cameraFrame {
	-webkit-transition: all 0.5s linear;
	stroke-dashoffset: 72px;
	stroke-dasharray: 72px;
}

#plus {
	-webkit-transition: all 0.3s linear;
	stroke-dashoffset: 5px;
	stroke-dasharray: 5px;
}

#fileUpload {
	overflow: hidden;
	position: absolute;
	width: 75px;
	padding: 10px;
	opacity: 0;
	left: 20%;
	top: 70%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	z-index: 9999;
	-webkit-transition: 250ms cubic-bezier(0.7, 0, 0.36, 1);
	transition: 250ms cubic-bezier(0.7, 0, 0.36, 1);
}

#fileUpload:focus {
	outline: none;
	background: transparent;
}

#openModal {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 100%;
	-webkit-transform: scale(0);
	z-index: 8888;
	-webkit-transition: 250ms cubic-bezier(0.7, 0, 0.36, 1);
	transition: 250ms cubic-bezier(0.7, 0, 0.36, 1);
	-webkit-transition-delay: 250ms;
	transition-delay: 250ms;
	background-color: rgba(255, 255, 255, 0.9);
}

#openModal > span {
	font-family: raleway;
	font-size: 1.2vw;
	top: 30%;
	position: absolute;
	left: 20%;
	white-space: nowrap;
	-webkit-transform: translate3d(-50%, 0, 0);
	color: rgba(0, 0, 0, 0.7);
}

.separatorLine {
	margin-top: 15px;
	width: 300%;
	position: absolute;
	height: 1px;
	background: rgba(0, 0, 0, 0.6);
}

.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

.clearfix {
	display: block;
}

.right {
	margin-left: 12.5vw;
	bottom: 0;
	position: absolute;
	float: right;
}

.right > p {
	font-size: 2vw;
	text-align: left;
	text-transform: none;
	font-family: Raleway;
	margin-top: 0.5vw;
	color: rgba(0, 0, 0, 0.7);
}

.right > p:last-child {
	margin-top: 0.2vw;
	font-size: 0.9vw;
	text-align: right;
	color: rgba(0, 0, 0, 0.5);
}

.avatar:hover > #camera > #cameraFrame {
	stroke-dashoffset: 0;
}

.avatar:hover > #camera > #circle {
	stroke-dashoffset: 0px;
}

.avatar:hover > #camera > #plus {
	stroke-dashoffset: 0px;
}

.avatar:active > #camera > #cameraFrame {
	-webkit-transition: none;
	stroke: rgba(255, 255, 255, 0.7);
}

.avatar:active > #camera > #circle {
	-webkit-transition: none;
	stroke: rgba(255, 255, 255, 0.7);
}

.avatar:active > #camera > #plus {
	-webkit-transition: none;
	stroke: rgba(255, 255, 255, 0);
}

.src {
	font-family: raleway;
	position: absolute;
	display: inline-block;
	right: 0;
	bottom: 0;
	padding: 10px;
}

#camera {
	-webkit-transition: 250ms cubic-bezier(0.7, 0, 0.36, 1);
	transition: 250ms cubic-bezier(0.7, 0, 0.36, 1);
}

.avatar.open > #camera {
	-webkit-transform: scale(0);
	fill: white;
}

.avatar.open > #openModal {
	-webkit-transform: scale(0.95);
}

.avatar.open > #fileUpload {
	opacity: 1;
	-webkit-transition-delay: 250ms;
}

.avatar.open > #camera {
	visibility: hidden;
}

/** profile pic upload and **/

.loc_search{
    width:70%;
    display: inline-block

}
.loc_search input{
    border-radius: 0px !important;
}

.loc_button{
    width: 29%;
    display: inline-block;
    margin-left:-5px;
}

.ays_acc{
    padding-top: 5%;
    font-size: 13px;
}
.forgot_pass{
    float: right;
    font-size: 13px !important;
}

.create_acc{
    float: right;
}

.logo_login{
    margin: 0px auto;
    text-align: center;
}

.margintop18vh{
    margin-top: 18vh;
}

.marginpad{
    margin-bottom: 10%;
}

/* @media(max-width:320px){
    #auth a{
        font-size: 10px;
    }
} */
